@media only screen and (max-width: 450.99px) {
  .day-passeio {
    margin-top: 260px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .day-passeio {
    width: calc(95% - 1.5%) !important;
    left: 2.5% !important;
  }
}

.shadow {
  box-shadow: 0 0 1em darkgray;
}

.dayPasseio {
  border-radius: 8px;
  height: 48px;
  width: calc(1200px - 1.5%);
  margin-top: 220px;
  position: absolute;
  padding-left: 1.5%;
  overflow: hidden;
}

.buttonDayPasseio {
  background-color: transparent;
  border: none;
  width: 160px;
  transition: 0.25s;
  font-size: 0.875rem;
  color: #5a6c7c;
  font-family: roboto, sans-serif !important;
  font-weight: 500;
  line-height: 1.75;
}

.buttonDayPasseio:active {
  background-color: rgba(1, 84, 157, 0.5);
}

.colorGrupo {
  border-bottom: solid #0c62ad !important;
  color: #01549d !important;
}
