.bodyPage {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .cards {
    width: 95% !important;
    left: 2.5% !important;
  }
}

@media only screen and (max-width: 660px) {
  .cards {
    justify-content: center !important;
  }
}

.cards {
  width: 1200px;
  margin-top: 290px;
  justify-content: left;
  overflow: hidden;
  padding: 20px;
  flex-wrap: wrap;
}
