@media only screen and (max-width: 450.99px) {
  .listItensCarrinhoRigth {
    width: 40% !important;
  }
}

@media only screen and (min-width: 451px) and (max-width: 700px) {
  .listItensCarrinhoRigth {
    width: 25% !important;
  }
}

.listItensCarrinhoLeft {
  padding-left: 1.5%;
}

.listItensCarrinhoRigth {
  width: 15%;
  justify-content: space-between;
}

.deleteItemCarrinho {
  width: 18px !important;
  height: 18px !important;
}

.listItensCarrinho {
  margin-top: 10px;
  width: calc(100% - 6%);
  padding-left: 3%;
  padding-right: 3%;
  justify-content: space-between;
  color: #5a6c7c;
}
